  <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Chào mừng bạn đến với <span>TaSin</span></h2>
        <p class="animate__animated fanimate__adeInUp">Bãi giữ xe thông minh tiên tiến nhất Việt Nam, là một bước đột phá trong việc quản lý và tối ưu hóa quá trình giữ xe. Với việc ứng dụng công nghệ nhận diện khuôn mặt và biển số xe, TeSin mang đến một trải nghiệm hoàn toàn mới cho người sử dụng dịch vụ.</p>
        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Đọc thêm</a>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g>
    </svg>
</section><!-- End Hero -->