{% extends '/users/main.html' %}

{% block title %}Forgot Password{% endblock title %}
{% block user_content %}
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="bg-white shadow rounded">
                <div class="row">
                    <div class="col-md-12 pe-0">
                        <div class="form-left h-100 py-5 px-5">
                            <div class="row">
                                <div class="col-12 text-center py-2">
                                    <h1><i class="fas fa-envelope"></i></h1>
                                    <h3>Forgot Your Password?</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center py-2">
                                    <small><em>
                                        That's no fun. Enter your email and we'll send you instructions to reset your password.
                                    </em></small>
                                </div>
                            </div>
                            <form action="{{ url_for('users.sign_in') }}" method="POST" class="row">
                                <div class="col-12 text-start py-2">
                                    <div class="input-group">
                                        <div class="input-group-text"><i class="fas fa-at"></i></div>
                                        <input type="text" required name="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-12 py-2">
                                    <button type="submit" class="btn btn-forgot-password">Email Some Help</button>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-12 py-2 text-center">
                                    <small><em>
                                        Can't reset your password? <a href="">Let us know</a> and we'll help!
                                    </em></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock user_content %}