<!--{% if is_show_modal %}-->
<div class="modal fade" id="modal-test" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header model-header-customize">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-register-service">
                <h1>Heheheheehehehh</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-register-service">Register</button>
            </div>
        </div>
    </div>
</div>
<!--{% endif %}-->